Package: me.devbug.cydiaenhancer
Name: CydiaEnhancer bokzhe
Depends: mobilesubstrate (>= 0.9.5001), cydia (>= 1.1.12), firmware (>= 7.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Cydia loading speed up
 Original package is "Cydia 增强器" from Chinese illegal repo.
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: Tweaks
Website: http://slak.kr/iphone/cydia/cydiaenhancer/index.php
Depiction: http://slak.kr/iphone/cydia/cydiaenhancer/index.php
Conflicts: repo.weiphone.cydiaenhancer
Replaces: repo.weiphone.cydiaenhancer
